$background-color-transparent: #0000008a;
$background-color: #00000000;
$date-background-color: #00000000 54%;
$button-gradient: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
$button-gradient2: linear-gradient(90deg, #d30707 100%, #f05353 100%);
$button-gradient3: linear-gradient(#e7eefb);
$font-family: "Inter Tight", sans-serif;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: left;
  position: relative;
  margin: 0 auto;

  input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .modalTitle {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: $font-family;
  }

  .modalSubTitle {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: $font-family;
  }
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 15px;

  .button {
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-family: $font-family;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    max-width: none;
  }

  .cancelButton {
    @extend .buttoncancel;
    background: #e7eefb;
  }

  .addButton {
    background: $button-gradient;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 10px;
  }
}

.deleteModalContent {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: left;
  position: relative;
  margin: 0 auto;

  .modalTitle {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: $font-family;
  }

  .modalSubTitle {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: $font-family;
  }

  .modalMessage {
    color: #0000008a;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .modalButtons {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 10px;
    }

    .cancelButton {
      @extend .buttoncancel;
      background: #e7eefb;
    }

    .deleteButton {
      @extend .buttondelete;
      background: linear-gradient(90deg, #d30707 100%, #f05353 100%);
      color: white;
    }
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
}

.date,
.welcomeMessage {
  background-color: $date-background-color;
  font-family: $font-family;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.54);
}

.welcomeMessage {
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.04px;
  letter-spacing: -0.02em;
  color: #000000;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 20px;
    max-width: 100%;
  }

  @media (max-width: 480px) {
    padding: 10px;
  }
}

.layout {
  opacity: 0;
  width: 100%;
}

.typography {
  font-family: $font-family;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.04px;
  letter-spacing: -2%;
  text-align: left;
}

.colors {
  background: $background-color-transparent;
}

.logo {
  width: 150px;
  height: auto;
  opacity: 1;
}

.task-title {
  color: #333;
  font-family: $font-family;
  font-size: 24px;
  margin: 20px 0;
}

.button {
  background: $button-gradient;
  width: 100%;
  max-width: 550px;
  height: 50px;
  border-radius: 8px;
  padding: 16px 24px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  outline: none;
  box-shadow: none;

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 14px 20px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 12px 18px;
  }
}

.buttoncancel {
  background: $button-gradient3;
  width: 100%;
  max-width: 450px;
  height: 51px;
  border-radius: 8px;
  padding: 16px 24px;
  color: #000000;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  border: none;

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 14px 20px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 12px 18px;
  }
}
.buttondelete {
  background: $button-gradient2;
  width: 100%;
  max-width: 450px;
  height: 51px;
  border-radius: 8px;
  padding: 16px 24px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  border: none;

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 14px 20px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 12px 18px;
  }
}

.todoContainer {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 5px #eaecf0;
  margin-top: 80px;

  @media (max-width: 768px) {
    padding: 20px;
    max-width: 100%;
    margin-top: 40px;
  }

  @media (max-width: 480px) {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
  }
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px dashed #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  background: $date-background-color;

  cursor: pointer;

  @media (max-width: 768px) {
    padding: 8px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    padding: 5px;
  }
}

.taskItem input[type="checkbox"] {
  width: 24px;
  height: 24px;
  top: 16px;
  left: 16px;
  color: #D7DDE9;
  cursor: pointer;
}

.taskItem span {
  flex-grow: 1;
  margin-left: 10px;
  color: #333;
  border: #eaecf0;
}

.deleteButton {
  width: 20px;
  height: 20px;
  background: url("../images/trash.png") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.taskHover:hover {
  background-color: #f0f4ff;
}

.completedTask {
  text-decoration: line-through;
  color: #999;
  cursor: pointer;
}

.completedTask input[type="checkbox"] {
  accent-color: #A0DCF6;
  border: 1px solid #0796D3;
  cursor: pointer;
}

@media (max-width: 768px) {
  .headerContainer {
    padding: 0 10px;
  }
  .welcomeMessage {
    font-size: 20px;
  }
  .date {
    font-size: 14px;
  }
  .mainContainer {
    padding: 20px;
    width: 100%;
  }
  .todoContainer {
    max-width: 90%;
    padding: 20px;
  }
  .taskItem {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .headerContainer {
    padding: 0 5px;
  }
  .welcomeMessage {
    font-size: 18px;
  }
  .date {
    font-size: 12px;
  }
  .mainContainer {
    padding: 10px;
  }
  .todoContainer {
    padding: 10px;
    width: 100%;
  }
  .button {
    font-size: 12px;
    padding: 12px 18px;
  }
  .taskItem {
    font-size: 14px;
  }
}
